.env
realtimesst.log
voice_signatures.json
voice_recordings/*
__pycache__/*
./venv/*
.DS_Store
./models/*
*.pth
models/models--kyutai--stt-2.6b-en-trfs/blobs/d10da996924f8718e69ad188d65e4334f6c82a12bcaf8c5df83e80c9f5fca98b.incomplete
models/models--kyutai--stt-2.6b-en-trfs/refs/main
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/.gitattributes
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/config.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/generation_config.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/model-00002-of-00002.safetensors
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/model.safetensors.index.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/preprocessor_config.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/README.md
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/special_tokens_map.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/tokenizer_config.json
models/models--kyutai--stt-2.6b-en-trfs/snapshots/005de8e7800698a4c9963a5ac000e185b410c2f5/tokenizer.json
.cache-317hvg2squkxlov2usiktt3ux5da
